@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to right, #00c853, #b2ff59);
  --color: #fff;

}

html {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--color);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overflow-height {
  height: calc(100vh - 6rem);
}

button {
  background: linear-gradient(to right, #00c853, #b2ff59);
  font-weight: 600;
  transition: background 0.3s ease-in;
}

button:hover {
  background: linear-gradient(to right, #76ff03, #64dd17);
}

button:disabled {
  cursor: not-allowed;
}